<div class="display-page">
  <section class="fontawesome-zone">
    <div class="container-fluid">
      <div class="row string-text">
        <div class="col-md-2 ">
          
        </div>
        <div class="text-field">
          <p class="col-md-8 offset-md-2">
            Praesent quam enim, consequat id consectetur sed, egestas ut ex. Nam et dolor ligula. Nunc faucibus lectus mauris, ut accumsan quam eleifend in. Nullam semper malesuada est non semper. Suspendisse varius, purus lobortis faucibus dictum, leo eros aliquet ipsum, vel porta lacus felis vel quam. In scelerisque ex ac sodales placerat. Nullam id blandit massa. Suspendisse ut ex varius, pharetra mauris a, ullamcorper urna. 
          </p>
        </div>
      </div>

      <div class="row awesome">
        <div class="">
          
        </div>
        <div class="col-md-8 col-sm-12 col-12 offset-md-2 font-block">
          <div class="row">
            <div class="col-md-3 col-12 fontawesome-rectangle">
              <div class="fontawesome ">
                <i class="fa fa-id-card fa-5x font"></i>
                <p class="lorem-text">
                  Maecenas interdum orci malesuada
                </p>
              </div>
            </div>

            <div class="col-md-3 col-12 fontawesome-rectangle">
              <div class="fontawesome">
                <i class="fa fa-id-card fa-5x"></i>
                <p class="lorem-text">
                  Maecenas interdum orci malesuada
                </p>
              </div>
            </div>

            <div class="col-md-3 col-12 fontawesome-rectangle">
              <div class="fontawesome">
                <i class="fa fa-id-card fa-5x"></i>
                <p class="lorem-text">
                  Maecenas interdum orci malesuada
                </p>
              </div>
            </div>

            <div class="col-md-3 col-12 ">
              <div class="fontawesome">
                <i class="fa fa-id-card fa-5x"></i>
                <p class="lorem-text">
                  Maecenas interdum orci malesuada
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="develop-zone ">
    <div class="container-fluid">
      <div class="row">
        <div class="card-footer bg-transparent border-default horizontal-line"></div>
        <div class="col-md-12" align="center">
          <p class="title-text">
            Develop your kids talents today!
          </p>
        </div>

        <div class="content-text">
          <div class="row">
            <div class="col-md-2">
            </div>

            <div class="text-left col-md-4">
              <div class="row">
                <div class="col-md-3 col-sm-2 col-1 no-gutters m-0">
                  <div class="integer-12">
                    1
                  </div>
                </div>

                <div class="col-md-9 col-sm-10 col-11 no-gutters">
                  <div >
                    <p class="header-12">
                      Find your ideal coach
                    </p>
                    <p class="string-12">
                      Cras ac ornare neque. Nunc ac nulla sit amet nunc vehicula porttitor. Nunc iaculis leo id nulla bibendum, sit amet ullamcorper nisi mollis. Pellentesque bibendum tempor erat, a pretium dui tincidunt nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-left col-md-4">
              <div class="row">
                <div class="col-md-3 col-sm-2 col-1 no-gutters m-0">
                  <div class="integer-12">
                    2
                  </div>
                </div>

                <div class="col-md-9 col-sm-10 col-11 no-gutters">
                  <div >
                    <p class="header-12">
                      Request Booking
                    </p>
                    <p class="string-12">
                      Cras ac ornare neque. Nunc ac nulla sit amet nunc vehicula porttitor. Nunc iaculis leo id nulla bibendum, sit amet ullamcorper nisi mollis. Pellentesque bibendum tempor erat, a pretium dui tincidunt nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-2">
            </div>

            <div class="text-left col-md-4">
              <div class="row">
                <div class="col-md-3 col-sm-2 col-1 no-gutters m-0">
                  <div class="integer-34">
                    3
                  </div>
                </div>

                <div class="col-md-9 col-sm-10 col-11 no-gutters">
                  <div >
                    <p class="header-34">
                      Embark on the lessons
                    </p>
                    <p class="string-34">
                      Cras ac ornare neque. Nunc ac nulla sit amet nunc vehicula porttitor. Nunc iaculis leo id nulla bibendum, sit amet ullamcorper nisi mollis. Pellentesque bibendum tempor erat, a pretium dui tincidunt nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-left col-md-4">
              <div class="row">
                <div class="col-md-3 col-sm-2 col-1 no-gutters m-0">
                  <div class="integer-34">
                    4
                  </div>
                </div>

                <div class="col-md-9 col-sm-10 col-11 no-gutters">
                  <div >
                    <p class="header-34">
                      Leave review
                    </p>
                    <p class="string-34">
                      Cras ac ornare neque. Nunc ac nulla sit amet nunc vehicula porttitor. Nunc iaculis leo id nulla bibendum, sit amet ullamcorper nisi mollis. Pellentesque bibendum tempor erat, a pretium dui tincidunt nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="parent-zone">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 header-parent-zone" align="center" >
          <p class="title-field" >
            What parents say?
          </p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
        <ol class="carousel-indicators">
          <li id="carousel-indicators" data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li id="carousel-indicators" data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li id="carousel-indicators" data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner row w-100 " role="listbox">
          <div class="carousel-item col-md-4 col-12 active">
            <div class="row">
              <img class="img-fluid d-block" src="/assets/1.jpg" alt="slide 1">
              <div class="lorem-box">
                <p class="lorem-text">
                  <strong>Jia Ling & Yan Sheng</strong><br>
                  <p class="lorem-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at laoreet arcu. Fusce maximus eleifend eleifend. 
                  </p>
                </p>
              </div>
            </div>
          </div>

          <div class="carousel-item col-md-4 col-12 ">
            <div class="row">
              <img class="img-fluid d-block" src="/assets/2.jpg" alt="slide 1">
              <div class="lorem-box">
                <p class="lorem-text">
                  <strong>Jia Ling & Yan Sheng</strong><br>
                  <p class="lorem-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at laoreet arcu. Fusce maximus eleifend eleifend. 
                  </p>
                </p>
              </div>
            </div>
          </div>

          <div class="carousel-item col-md-4 col-12">
            <div class="row">
              <img class="img-fluid d-block" src="/assets/3.jpg" alt="slide 1">
              <div class="lorem-box">
                <p class="lorem-text">
                  <strong>Jia Ling & Yan Sheng</strong><br>
                  <p class="lorem-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at laoreet arcu. Fusce maximus eleifend eleifend. 
                  </p>
                </p>
              </div>
            </div>
          </div>

          <div class="carousel-item col-md-4 col-12 ">
            <div class="row">
              <img class="img-fluid d-block" src="/assets/4.jpg" alt="slide 1">
              <div class="lorem-box">
                <p class="lorem-text">
                  <strong>Jia Ling & Yan Sheng</strong><br>
                  <p class="lorem-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at laoreet arcu. Fusce maximus eleifend eleifend. 
                  </p>
                </p>
              </div>
            </div>
          </div>

          <div class="carousel-item col-md-4 col-12 ">
            <div class="row">
              <img class="img-fluid d-block" src="/assets/5.jpg" alt="slide 1">
              <div class="lorem-box">
                <p class="lorem-text">
                  <strong>Jia Ling & Yan Sheng</strong><br>
                  <p class="lorem-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at laoreet arcu. Fusce maximus eleifend eleifend. 
                  </p>
                </p>
              </div>
            </div>
          </div>

          <div class="carousel-item col-md-4 col-12 ">
            <div class="row">
              <img class="img-fluid d-block" src="/assets/6.jpg" alt="slide 1">
              <div class="lorem-box">
                <p class="lorem-text">
                  <strong>Jia Ling & Yan Sheng</strong><br>
                  <p class="lorem-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at laoreet arcu. Fusce maximus eleifend eleifend. 
                  </p>
                </p>
              </div>
            </div>
          </div>

          <div class="carousel-item col-md-4 col-12 ">
            <div class="row">
              <img class="img-fluid d-block" src="/assets/7.jpg" alt="slide 1">
              <div class="lorem-box">
                <p class="lorem-text">
                  <strong>Jia Ling & Yan Sheng</strong><br>
                  <p class="lorem-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at laoreet arcu. Fusce maximus eleifend eleifend. 
                  </p>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-zone">
    <div class="container-fluid m-0 p-0">
      <div class="card-footer bg-transparent border-default horizontal-line-bottom"></div>
      <div class="row p-0 m-0">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-12">

              <div class="title-footer m-2">
                <p>
                  <strong >CoachRadar</strong>
                </p>
              </div>

              <div class="content footer-text-link m-2">
                CoachRadar 2018, All rights reserved
              </div>
            </div>

            <div class="col-md-6 col-12 colum-sport">
              <div class="title-footer m-0">
                <p class="footer-text-responsive" >
                  Sports
                </p>
              </div>

              <div class="content">
                <p>
                  We have wide variety of sports caterogies
                </p>
              </div>

              <div class="subcontent-zone ">
                <span class="footer-text-responsive" >
                  <span><a class="subcontent" href="#" >Basketball |</a></span>
                  <span><a class="subcontent" href="#" >Football |</a></span>
                  <span><a class="subcontent" href="#" >Swimming </a></span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 p-0 m-0">
          <div class="row">
            <div class="col-md-3 col-12 colum-coach p-0 m-0 no-gutters">
              <div class="title-footer m-0">
                <p>
                  Coach
                </p>
              </div>

              <div class="content">
                <p >
                  Want to be a coach?
                </p>
              </div>

              <div class="subcontent-zone ">
                <span><a class="subcontent" href="#">Learn more</a></span>
              </div>
            </div>

            <div class="col-md-3 col-12 colum-about">
              <div class="title-footer m-0">
                <p  >
                  About
                </p>
              </div>

              <div class="content">
                <p >
                  Know about us here
                </p>
              </div>

              <div class="subcontent-zone ">
                <span><a class="subcontent"  href="#" >About us</a></span>
              </div>
            </div>

            <div class="col-md-3 col-12 colum-contact">
              <div class="title-footer m-0">
                <p >
                  Contact
                </p>
              </div>

              <div class="content">
                <p >
                  Get in touch with us
                </p>
              </div>

              <div class="subcontent-zone">
                <span><a class="subcontent"  href="#" >Contact us</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-bottom-zone">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-sm-10 col-12 text-footer-bottom">
          <span >
            <a class="text-footer-left" href="#">Terms of Use</a>
            <a class="vertical-pipe" href="#">|</a>
            <a class="text-footer-left" href="#">Privacy Policy </a>
          </span>
        </div>

        <div class="col-md-4 col-sm-2 col-12 font-awesome-footer-right">
          <span >
            <a href="#"><i class="fa fa-twitter fa-2x twitter-icon"></i>
            <a href="#"><i class="fa fa-instagram fa-2x instagram-icon"></i></a>
            <a href="#"><i class="fa fa-facebook-square fa-2x face-icon"></i></a>
          </span>
        </div>
      </div>
    </div>
  </section>






</div>

