.display-page  {
  @media (min-width: 993px) and (max-width: 1500px){ 
    // navbar + undernavbar zone : begin
    .navbar-style-top{
      background-color: #0f7675 !important;
      border-radius: 0px;
      padding-top: 10px;
    }
    .nav-item a{
      font-size: 16px;
      padding-top: 0px ;
      color: white !important;
    }
    .undernavbar-style{
      box-sizing: border-box;
      width: 100%;
      height: 228px;
      border-radius: 0px;
      background-color: #0f7675;
        .title{
        color:white;
        font-size: 30px;
        text-align: center;
        }
        .string{
          color: white;
          font-size: 15px;
          text-align: center;
        }
    }
    // navbar + undernavbar zone : end

    // fontawesome-zone begin 
    .row .text-field {
      font-size: 16px;
      line-height: 25px;
      text-align: center;
      font-color: black;
      padding-top: 50px;
    }
    .row .font-block{
      text-align: center;
      padding-top: 70px;
    }
    .awesome .fontawesome-rectangle::before{
      height: 118px;
      display: block;
      position: absolute;
      content: '';
      border-top-style: hidden;
      border-right: 3px solid #F1F1F1;
      border-bottom-style: hidden;
      border-left-style: hidden;
      left: 100%;
    }
    .fontawesome{
      i{
        color: #0f7675;
      }
      .lorem-text{
        text-align: center;
        font-size: 16px;
        padding-bottom: 70px;
      }
    }  
    // fontawesome-zone end
    
    // develop-zone : begin
    .row .horizontal-line{
      height: 1px;
      padding: 0px;
      width: 100%;
    }
    .row div .title-text{
      padding-top: 60px !important;
      font-size: 25px;
      font-weight: bold;
    }
    .integer-12{
      font-size: 34px;
      color: #0f7675;
      padding-top: 115px;
      padding-left: 69px;
    }
    .integer-34{
      font-size: 34px;
      color: #0f7675;
      padding-top: 99px;
      padding-left: 69px;
    }
    .header-12{
      font-size: 23px;
      font-weight: bold;
      padding-top: 68px;
    }
     .header-34{
      padding-top: 50px;
      font-size: 23px;
      font-weight: bold;
    }
    .string-34{
      padding-bottom: 50px;
      font-size: 16px ;
      line-height: 25px;
    }
    // develop-zone : end

    // parent-zone : begin
      .parent-zone{
        background-color: #F9F9F9;
        padding-top: 50px;
        padding-bottom: 90px;
      }
      .title-field{
        font-size: 25px ;
        color: #0f7675 !important;
        padding-bottom: 90px;
      }
      .carousel-item{
        img{
          width: 125px;
          height: 125px;
          margin-right: 20px;
          margin-left: 20px;
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 5px;
          width: 130px;
        }
        img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
      }
      .lorem-box{
        background-color: white;
        border: 1px solid transparent;
        width: 296px;
        height: 154px;
        padding-left: 11px;
        margin-left: 0px;
        box-shadow: -15px 0px 10px -15px #111; 
      }
      #carousel-indicators.active{
        background-color: #0f7675 ;
        position: relative;
        bottom:-70px;
      }

      #carousel-indicators{
        border-color: #0f7675 ;
        bottom:-70px;
      }

    // parent-zone : end

    // footer-zone : begin
    .footer-zone{
      background-color: #F9F9F9;
    }
    .horizontal-line-bottom{
      padding: 0px ;
      width: 100%;
      
    }
    b, strong{
      color: #0f7675 !important; 
    }
    .title-footer{
      padding-top: 80px;
      font-weight: bold;
      color: #0f7675;
      font-size: 20px;
      margin: 0px;
    }
    .content{
      font-size: 10px;
    }
    .title-footer {
      p{
        margin: 0px;
        color: #0f7675;
      }
    }
    .subcontent{
      color: #0f7675;
    }
    .subcontent-zone{
      padding-bottom: 40px;
    }

    // footer-zone : end

    .footer-bottom-zone{
    background-color: #F1F1F1;
    height: 92px;
    margin-bottom: 22px;
    }
    .text-footer-bottom{
      padding-top: 35px;
      a{
        color: black;
      }
    }
    .face-icon{
      color: #3c5a96;
      float: right;
      padding-right: 5px;
    }
    .instagram-icon{
      color: #8c3db7;
      float: right;
      padding-right: 5px;
    }
    .twitter-icon{
      color: #36abdf;
      float: right;
      padding-right: 5px;
    }
    .font-awesome-footer-right{
      padding-top: 35px;
    }
    // footer-bottom-zone : end
  }


  @media (min-width: 0px) and (max-width: 576px){ 
    .navbar-style-top{
      background-color: #0f7675;
    }
    .undernavbar-style{
      background-color: #0f7675;
      p {
        color: white;
        text-align: center;
      }
    }
    .content-text .integer {
      padding-top: 75px;
      padding-left: 20px;
      font-size: 25px;
    }
    .row div .title-text {
      font-size: 20px;
      text-align: center;
      font-weight: bold;
    }
    .header{
      font-size: 17px ;
      margin-bottom: 0px;
    }
    .row p.title-parent-field {
      font-size: 27px ;
      padding-top: 0px ;
    }
    .row div.header-parent-zone{
      padding-bottom: 0px ;
      padding-top:  0px ;
    }
    .row div .fontawesome{
      display: inline-block;
      text-align: center;
      float: none;
      padding-left: 45px;
      color: #0f7675;
      p{
        color: black;
      }
    }
    .fontawesome-rectangle::before {
      display: none;
    }
    .navbar-dark button:focus{
      outline: 1px dotted transparent;
    }
    .navbar-nav .nav-link {
      text-align: center;
    }
    .horizontal-line {
      border-bottom: transparent;
      width: 100%;
    }
    .footer-zone div.subcontent-zone a:hover{
      background-color: #F1F1F1;
    }
    .footer-bottom-zone .text-footer-left, .vertical-pipe{
      color: #aaaaaa;
      padding-top: 7px;
      text-align: center;
    }
    .font-awesome-footer-right i.fa-2x{
      font-size: 1em !important;
      display: center;
    }
    .footer-bottom-zone{
      height: 92px !important;
    }
    .integer-12, .integer-34 {
      color: #0f7675;
      font-size: 24px;
      padding-left: 11px;
      padding-top: 45px;
    }
    .header-12, .header-34{
      font-weight: bold;
    }
    .title-field{
      color: #0f7675;
      font-size: 26px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .string-12, .string-34{
      line-height: 35px;
    }
    .row .title-footer{
      color: #0f7675;
      text-align: center;
      padding-top: 10px;
    }
      .content{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .subcontent-zone a{
        text-align: center;
        color: #0f7675;
        padding-bottom: 10px;

      }
      div.subcontent-zone{
        text-align: center
      }
      .footer-zone{
        background-color: #F9F9F9;
      }
      .footer-bottom-zone{
        background-color: #F1F1F1;
        margin-bottom: 22px;
      }
      .text-footer-bottom{
        text-align: center;
        padding-top: 16px;
      }
      .font-awesome-footer-right{
        text-align: center;
      }
      .face-icon{
      color: #3c5a96;
      }
      .instagram-icon{
      color: #8c3db7;
      }
      .twitter-icon{
      color: #36abdf;
      }

      .carousel-item{
        img{
          height: 160px;
          margin-right: 20px;
          margin-left: 20px;
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 5px;
          width: 160px;
          margin-left: 133px;
        }
        img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
      }
      div.lorem-box{
        padding-left: 45px;
        text-align: center;
      }
      .carousel-indicators{
        display: none;
      }
      .font-awesome-footer-right{
        font-size: 2em;
      }
  }


  @media (min-width: 577px) and (max-width: 992px){ 
    .navbar{
    border-radius: 0px !important;
    }
    .navbar-dark button:focus{
      outline: 1px dotted transparent;
    }
    .navbar-nav .nav-link {
      text-align: center;
    }
    .horizontal-line {
      border-bottom: transparent;
    }
    .undernavbar-style1 .title{
      margin-left: 50px;
    }
    .undernavbar-style1 .string{
      margin-left: 176px;
    }
    .horizontal-line {
      border-bottom: transparent;
      height: 10px;
    }
    .row div .title-text{
      padding-top: 0px;
      padding-bottom: 5px;
      padding-left: 25px;
    }
    .header{
      font-size: 17px !important;
      padding-bottom: 5px;
      margin-bottom: 5px;
      padding-left: 0px;
    }
    .integer{
      font-size: 27px !important;
      padding-top: 40px;
      padding-left: 40px;
    }
    .string{
      padding-left: 0px !important;
    }
    .footer-zone div.subcontent-zone a:hover{
      background-color: #F1F1F1;
    }
    .footer-bottom-zone .text-footer-left, .vertical-pipe{
      color: #aaaaaa;
      padding-top: 7px;
    }
    .fa-2x{
      font-size: 2em !important;
    }
    .footer-zone div.subcontent-zone a:hover{
      background-color: #F1F1F1;
    }
  } 

}



