<div class="display-page">
  <nav class="navbar navbar-expand-md navbar-dark undernavbar-style">
    <div> 
      <div class="container-fluid">
        <div class="col-md-12">
          <p class="col-md-12 offset-md-1 title">
            About us
          </p>
          <br>
          <div >
            <div class="col-md-2 ">
            </div>
            <p align="center" class="col-md-10 offset-md-2 string">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis, nunc et volutpat imperdiet, ante nunc blandit tortor, eu efficitur sapien arcu sed tortor
            </p>
          </div>
        </div>
      </div>
    </div>  
  </nav>
</div>
